.basket{
    width: 100%;
    height: auto;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    padding: 130px 156px 190px 156px;
}

button{
    cursor: pointer;
}

.basket-all{
    display: flex;
}

.basket-home{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.basket-text p{
    font-weight: 700;
    font-size: 37.8515px;
    line-height: 46px;
    padding-bottom: 76px;

    /* 03 */

    color: #9F6233;
}

.basket-all{
    display: flex;
}

.basket-json{
    display: flex;
    flex-direction: column;
}

.basket-data{
    display: flex;
}

.basket-hr hr{
    width: 915px;
    height: 0px;
    border: 0.684385px solid #9A9A9A;
}

.basket-data img{
    width: 221px;
    height: 150.12px;
    padding-top: 20px;
}

.basket-data p{
    font-weight: 400;
    font-size: 19.6296px;
    line-height: 24px;
    color: #000000;
}

.basket-data span{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.basket-button{
    background: #DCBB45;
    border-radius: 8px;
    width: 150px;
    height: 46px;
    margin-left: 56px ;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.basket-decrement{
    border: 3px solid #000000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-weight: bold;
    background: #DCBB45;
}

.basket-increment{
    border: 3px solid #000000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-weight: bold;
    background: #DCBB45;
}

.basket-price{
    font-weight: 700;
    font-size: 23.8058px;
    line-height: 29px;
    text-align: right;
    color: #C9A95C;
    padding: 60px 0 0 60px;
}

.basket-close{
    margin: 65px 0 0 30px;
    width: 24.49px;
    height: 24.49px;
}

.basket-texts-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    padding-left: 11px;
}

.basket-order{
    background: #FFFFFF;
    box-shadow: 0px 8px 34px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 568px;
    height: 542px;
    padding: 46px 40px 47px 40px;
    margin-left: 125px;
}


.basket-order img{
    align-items: center;
    padding: 0 139px 40px 139px;
}
.basket-order .basket-order-texts{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.basket-order .basket-order-texts .basket-order-texts-1{
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;

    color: #000000;
}

.basket-order hr{
    border: 0.684385px solid #0D0D0D;
    width: 488px;
    margin-top: 74px;
}

.basket-order-texts-2{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    text-align: right;

    /* brandcolor */

    color: #C9A95C;
}

.basket-order button{
    font-weight: 400;
    font-size: 21.92px;
    line-height: 114.8%;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    background: #DCBB45;
    border-radius: 8px;
    padding: 10px 54px;
    margin-top: 45px;
    margin-left: 54px;
    border: none;
}

/* +++++++++++ Basket Responsive ++++++++++++ */

@media (max-width: 1750px){

    .basket{
        align-items: center;
    }

    .basket-all{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .basket-order{
        margin-top: 70px;
    }

    .basket-text{
        align-items: center;
    }
}

@media (max-width: 1225px){
    .basket{
        padding: 200px 0 100px 30px;
    }
    .basket-hr hr{
        width: 910px;
    }
}

@media (max-width: 950px){
    .basket{
        padding: 200px 0 100px 15px ;
    }

    .basket-hr hr{
        width: 700px;
    }

    .basket-data img{
        width: 150px;
        height: 100px;
        padding-top: 12px;
    }

    .basket-data p{
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
    }

    .basket-data span{
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }

    .basket-price{
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        text-align: right;
        color: #C9A95C;
        padding: 45px 0 0 30px;
    }

    .basket-close{
        margin: 43.5px 0 0 30px;
    }

    .basket-button{
        width: 70px;
        height: 24px;
        border-radius: 6px;
        padding: 0 8px;
        margin: 45px 0 0 30px;
    }

    .basket-decrement{
        width: 15px;
        height: 15px;
        font-style: 15px;
    }

    .basket-increment{
        width: 15px;
        height: 15px;
        font-style: 15px;
    }

    .basket-count{
        font-weight: 300;
        font-size: 17px;
        line-height: 80%;
    }
}

@media (max-width: 720px){

    .basket-hr hr{
        width: 600px;
    }

    .basket-order{
        margin-left: 20px;
    }
}

@media (max-width: 620px){
    .basket{
        padding-top: 40px;
    }
    .basket-text p{
        text-align: center;
        font-weight: 700;
        font-size: 28px;
    }
    .basket-data{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .basket-hr hr{
        width: 100%;
    }

    .basket-data img{
        width: 300px;
        height: 200px;
    }

    .basket-data p{
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        margin-top: -20px;
    }

    .basket-data span{
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        padding-top: 20px;
    }

    .basket-price{
        font-weight: 700;
        font-size: 23.8058px;
        line-height: 29px;
        padding-top: 40px;
    }

    .basket-close{
        margin-bottom: 30px;
    }

    .basket-button{
        width: 150px;
        height: 60px;
        border-radius: 10px;
        padding: 0 15px;
        margin-top: -20px;
    }

    .basket-decrement, .basket-increment{
        width: 25px;
        height: 25px;
        border: 1.5px solid black;
        font-weight: 600;
        font-size: 23px;
        line-height: 114.8%;
    }

    .basket-count{
        font-weight: 600;
        font-size: 24px;
    }

    .basket-order{
        width: 400px;
        height: 320px;
        padding: 30px 0 30px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .basket-order img{
        padding-bottom: 0;
    }

    .basket-all{
        display: flex;
        align-items: center;
    }

    .basket-order-bold-texts{
        font-weight: 500;
        font-size: 20px;
        padding-right: 20px;
    }

    .basket-order-thin-texts{
        font-weight: 400;
        font-size: 20px;
    }

    .basket-order .basket-order-texts .basket-order-texts-1{
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        padding-right: 20px;
    }

    .basket-order hr{
        width: 80%;
        margin-top: 30px;
    }

    .basket-order button{
        margin: 50px 0 0 0;
    }

}

@media (max-width: 540px){
    .basket-order img{
        display: none;
    }

    .basket-order button{
        margin-top: 90px;
    }
}

@media (max-width: 470px){

    .basket{
        margin-top: 110px;
        margin-bottom: 50px;
    }
    .basket-order{
        width: 80%;
        margin-left: 0;
    }
}