.home {
  width: 100%;
  height: auto;
  /* overflow: hidden; */
}

/* ------- home section 1===== */
.home_section1 {
  width: 100%;
  height: auto;
  background-image: url(../../asest//home/section1/yangi.png);
  background-repeat: no-repeat;
  /* background-position-x: -130px; */
  /* background-position-y: center; */
  position: relative;
  padding: 360px 156px 300px;
  display: flex;
  align-items: center;
  background: linear-gradient(74deg, #de821d 13.95%, #a18b7f 83.15%);
  margin-top: 30px;
}

/* -----------home_text------- */
.slider_box {
  overflow: hidden !important;
}

.home_text {
  width: 487px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text_semmer p {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;

  color: #f3f3f3;
  padding-bottom: 40px;
}

.text_semmer>p>span {
  color: #dcbb45;
}


.text_semmer>span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  /* 04 */

  color: #d2d2d2;
  padding-top: 30px;
}

/* ======btn===== */
.see_btn {
  padding-top: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.see_btn :nth-child(1) {
  width: 143px;
  height: 46px;

  background: #ffffff;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */

  color: #de821d;
  margin-right: 40px;
}

.see_btn :nth-child(2) {
  width: 240px;
  height: 46px;
  background: none;

  border: 1px solid #ffffff;
  border-radius: 8px;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */

  color: #ffffff;
}

/* ======position=====all=== */

.position_1 {
  position: absolute;
  right: 0;
  bottom: 0px;
}

.position_2 {
  position: absolute;
  top: 343px;
  right: 788px;
}

.position_3 {
  /* display: none; */
  position: absolute;
  right: 100px;
  top: -160px;
  bottom: 0px;
  left: 400px;
  z-index: 1;
  /* background-color: red; */
  overflow: hidden;
}

.position_4 {
  position: absolute;
  right: 250px;
  bottom: 70px;
}

.position_5 {
  position: absolute;
  left: 531px;
  bottom: 147px;
}

.position_6 {
  position: absolute;
  top: 305px;
  right: 180px;
}

.position_7 {
  position: absolute;
  bottom: 132px;
  left: 0;
  right: 0;
}

/* +++++++++++++++++++ */

/* -------------------home section2----------- */

.home_section_2 {
  width: 100%;
  height: auto;
  padding: 106px 42px;
}

.sec_2_text {
  width: 100%;
  height: auto;
}

.all_headerText>p {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  /* identical to box height */


  color: #9f6233;
}

.all_headerText>span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* 04 */

  color: #7c7c7c;
  padding-top: 10px;
}

/* -------.new_products ------- */

.new_Produc_1>figure {
  width: 405px;
  height: 263px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new_Produc_1>figure>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new_Produc_1 {
  width: 441px;
  height: 483px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 19px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  margin: 6.8px;
}


.new_Produc_1>p {
  font-weight: 400;
  font-size: 31.1px;
  line-height: 38px;
  /* identical to box height */

  /* media section 1 */
}
.sell_basket{
  width: 100%;
}
.sell_basket button{
  width: 100% !important;
  margin: 0 auto;
}
@media(max-width:1500px) {
  .new_Produc_1{
    margin: auto;
  }
}
@media(max-width:900px) {
  .home_section_2 {
    padding: 100px 10px 20px;
  }
  /* .best_seller */
  .best_seller{
    padding: 0 !important;
  }
  .new_Produc_1 {
    width: 100%;
    padding: 8px !important;
    height: 0% !important;
    margin: 0 auto !important;
  }
  .new_Produc_1 figure {
    width: 100%;
    height: 100%;
  }
  .slick-list{
    padding: 20px 0 !important;
  }
  .best_seller .card_slider{
    width: 95% !important;
  }
  .new_Produc_1>p {
    font-size: 25px;
  }
  /* figure img  */
  figure{
    height: 360px !important;
  }
  hr {
    margin: 5px 0;
  }

  .discount_pricw p {
    font-size: 27px !important;
  }
}
@media (max-width:470px) {
  .all_headerText p{
    font-size: 35px;
  }
  .home_section_2 {
    padding: 80px 10px 20px;
  }
}
/* 04 */

hr {
  width: 80%;
  border: 1px solid #d3d3d3;
}

.price_share {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.discount_pricw p {
  font-weight: 700;
  font-size: 31.1px;
  line-height: 38px;
  /* identical to box height */

  text-align: right;

  /* brandcolor */

  color: #c9a95c;

}

.discount_pricw span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: right;
  text-decoration-line: line-through;

  color: #ff3f3f;
}

.sell_basket {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sell_basket> :nth-child(1) {
  width: 143px;
  height: 46px;
  background: #dcbb45;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */
  color: #000000;
}

.sell_basket :nth-child(2) {
  width: 143px;
  height: 46px;
  border: 1px solid #dcbb45;
  border-radius: 8px;
  background: none;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */
  color: #000000;
}

/* -------section 4 -------- */

.section_4_text {
  width: 100%;
  height: auto;
  padding: 106px 42px;
}

.section_4_text>p {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  /* identical to box height */

  color: #9f6233;
}

.section_4_text>span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* 04 */

  color: #7c7c7c;
  padding-top: 10px;
}

/* ----------section 5------- */

.sectio_5 {
  width: 100%;
  height: auto;
}

/* --------- section 6 ---- */

.section_6_futter {
  margin-top: 100px;
  width: 100%;
  height: 909px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../asest//home/section6/bacround_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.section-6-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .6;
}

.section_f_text {
  width: 827px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section_f_text :nth-child(1) {
  font-weight: 700;
  font-size: 47px;
  line-height: 61px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
  z-index: 1;
  /* padding-top:187px ; */
}

.section_f_text :nth-child(2) {
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  text-align: center;

  /* 04 */

  color: #D2D2D2;
  padding-top: 58px;
  /* margin-top: 58px; */
  z-index: 1;
}

.section_f_text :nth-child(3) {
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */

  text-align: center;

  /* 04 */

  color: #D2D2D2;
  padding-top: 57px;
  /* margin-top: 58px; */
  z-index: 1;
}

.section_f_text :nth-child(4) {
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
  /* identical to box height */


  /* 04 */

  color: #D2D2D2;
  z-index: 1;
}

.section_f_text :nth-child(5) {
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */

  text-align: center;

  /* 04 */

  color: #D2D2D2;
  padding-top: 57px;
  z-index: 1;
}

#contac_i_f_t {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;

}



#contac_i_f_t>a {

  margin: 0 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  z-index: 1;

}

.section_f_text>button {
  width: 301px;
  height: 46px;
  z-index: 1;

  /* 06 */

  background: #DCBB45;
  border-radius: 8px;
  border: none;
  margin-top: 68px;
}