@font-face {
  font-family: extrabold;
  src: url(../../Fonts/proximanova_extrabold.otf);
}
@font-face {
  font-family: regular;
  src: url(../../Fonts/proximanova_regular.ttf);
}
@font-face {
  font-family: light;
  src: url(../../Fonts/proximanova_light.otf);
}
@font-face {
  font-family: bold;
  src: url(../../Fonts//proximanova_bold.otf);
}

.home {
  width: 100%;
  height: auto;
  /* overflow: hidden; */
}

/* -----------home_text------- */
.slider_box {
  overflow: hidden !important;
}

/* home section 1 start  */

.section1 {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 940px;
  top: 2rem;
  overflow: hidden;
  background: linear-gradient(74deg, #ba5119 13.95%, #de821d 83.15%);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.section1 .btn {
  padding: 10px 32.5px;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  outline: none;
  border: none;
  /* cursor: pointer; */
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.section1 .left > img {
  position: absolute;
  left: 3%;
  bottom: 10%;
  padding: auto;

  transform: rotate(0deg);
  padding: 1rem;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  font-family: light;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.37em;

  color: #ffffff;
  font-weight: 300;
}

.section1 .left > p {
  position: absolute;
  left: -3%;
  bottom: 22%;
  padding: auto;

  transform: rotate(-90deg);
  padding: 1rem;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  font-family: light;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.37em;

  color: #ffffff;
  font-weight: 300;
}

#marqure{
  position: absolute;
  bottom: 15%;
  font-size: 55px;
  width: 100%;
}

.overlay::after{
  display: none;
}
.overlay::before{
  display: none;
}


.section1 .center {
  padding: 0;
  width: 580px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  position: absolute;
  top: 298px;
  left: 156px;
  z-index: 10;
}
.section1 .center span {
  font-family: extrabold;
  margin-top: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;

  color: #f3f3f3;
}

.section1 .center .span1 {
  padding-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  font-family: regular;

  color: #d2d2d2;
}
.section1 .center .btnDiv {
  margin-top: 6%;
}
.section1 .center .btnDiv button {
  border: 1px solid #ffffff;
  background: #ffffff;
  color: #de821d;
  margin-right: 17px;
}

.section1 .center .btnDiv .btnColorF > button {
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.section1 .center .btnDiv > button:hover {
  background-color: #fac570;
  color: black;
}
.section1 .center .btnDiv .btnColorN {
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.section1 .center .btnDiv .btnColorN i {
  padding-left: 7px;
  align-items: center;
  justify-content: center;
}

.section1 .container {
  width: 70%;
  height: 100%;
  background: url(../../asest/home/section1/bcg1.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-position-x: right;
  align-items: center;
  justify-content: center;
}
.section1 .container .circle1 {
  width: 339px;
  height: 339px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);

  position: absolute;

  left: 23%;
  top: 10%;
}
.section1 .container .circle2 {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);

  position: absolute;
  right: 10%;
  top: 10%;
}
.section1 .container .circle3 {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);

  position: absolute;
  left: -5%;
  bottom: 15%;
}
.section1 .container .circle4 {
  width: 339px;
  height: 339px;
  border-radius: 50%;
  background: #dcbb45;
  backdrop-filter: blur(15px);

  position: absolute;
  right: 15%;
  bottom: 14%;
}
.section1 .container .img {
  /* width: 30rem; */
  width: 628.48px;
  height: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1 .container .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
/* media queries */

@media (max-width: 1600px) {
  .section1 .container .circle1 {
    width: 300px;
    height: 300px;
    top: 18%;
  }
  .section1 .container .circle2 {
    width: 100px;
    height: 100px;
  }
  .section1 .container .circle3 {
    width: 150px;
    height: 150px;
  }
  .section1 .container .circle4 {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 1500px) {
  /* container */
  .section1 .container .circle1 {
    width: 250px;
    height: 250px;
  }
  .section1 .container .circle2 {
    width: 150px;
    height: 150px;
  }
  .section1 .container .circle3 {
    width: 170px;
    height: 170px;
  }
  .section1 .container .circle4 {
    width: 250px;
    height: 250px;
  }
  .section1 .container .img {
    width: 25rem;
    height: 25rem;
  }
}
@media (max-width: 1300px) {
  /* container */
  .section1 .container {
    justify-content: flex-end;
  }
  .section1 .container .img {
    margin-right: 25%;
  }
}
@media (max-width: 1200px) {
  .section1 .center {
    width: 580px;
  }
  .section1 .center span {
    font-size: 40px;
  }
  .section1 .center .span1 {
    font-size: 14px;
  }
  .section1 .btn {
    padding: 10px 32.5px;
    font-size: 14px;
  }

  /* container */
  .section1 .container .circle1 {
    display: none;
  }
  .section1 .container .circle2 {
    width: 170px;
    height: 170px;
    right: 6%;
    top: 20%;
  }
  .section1 .container .circle3 {
    left: 20%;
  }
  .section1 .container .circle4 {
    width: 225px;
    height: 225px;
    right: 8%;
    /* background-color: red; */
  }
  .section1 .container {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .section1 {
    top: 2rem;
  }
  .section1 .container .circle4 {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 930px) {
  .section1 .container .img {
    width: 20rem;
    height: 20rem;
    margin-right: 0;
    margin-left: 9%;
    margin-bottom: 4rem;
  }
}
@media (max-width: 900px) {
  .section1 {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section1 .left {
    bottom: 35%;
    padding: 2%;
  }
  .section1 .container {
    width: 100%;
    background: none;
  }
  .section1 .container .circle2 {
    display: none;
  }
  .section1 .container .circle3 {
    width: 80px;
    height: 80px;
    left: 25%;
    bottom: 6rem;
  }
  .section1 .container .circle4 {
    width: 150px;
    height: 150px;
    right: 8%;
    bottom: 30%;
  }
  .section1 .center {
    top: 10%;
    left: 20%;
    right: 25%;
    width: 360px;
  }

  .section1 .center span {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .section1 .center .span1 {
    margin-top: 10px;
    font-size: 0.8rem;
  }
  .section1 .btn {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
  .slider_box {
    height: auto !important;
    /* background-color: rebeccapurple; */
  }
}
@media (max-width: 750px) {
  .section1 .container .circle3 {
    left: 30%;
    top: 25rem;
  }
  .section1 .container .circle4 {
    width: 205px;
    height: 205px;
    right: 12%;
    bottom: -10px;
  }
  .section1 .container .img {
    width: 15rem;
    height: 15rem;
  }
}
@media (max-width: 600px) {
  .section1 {
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section1 .left {
    bottom: 35%;
    left: -13%;
  }
  .section1 .container .circle3 {
    left: 30%;
    top: 25rem;
  }
  .section1 .container .circle4 {
    width: 205px;
    height: 205px;
    right: 12%;
    bottom: -10px;
  }
  .section1 .container .img {
    margin-bottom: 30%;
    margin-left: 20%;
  }
}
@media (max-width: 520px) {
  .section1 .center {
    width: 270px;
  }
  .section1 .center span {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .section1 .center .span1 {
    margin-top: 10px;
    font-size: 0.6rem;
    line-height: 1rem;
  }
  .section1 .btn {
    padding: 4px 10px;
    font-size: 0.6rem;
  }
  .section1 .container .circle3 {
    left: 21%;
    top: 20rem;
  }
  .section1 .container .circle4 {
    width: 185px;
    height: 185px;
    right: 12%;
    bottom: -10px;
  }
  .section1 .container .img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 25%;
  }
  .section1 .left {
    bottom: 35%;
    left: -10%;
  }
}
@media (max-width: 414px) {
  .section1 .container .circle4 {
    width: 120px;
    height: 120px;
    bottom: 5rem;
  }
  .section1 .container .img {
    width: 18rem;
    height: 18rem;
    margin-bottom: 30%;
    margin-left: 0;
  }
}
@media (max-width: 400px) {
  .section1 {
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section1 .container .circle3 {
    width: 60px;
    height: 60px;
    left: 25%;
    bottom: 6rem;
  }
  .section1 .container .circle4 {
    width: 120px;
    height: 120px;
    bottom: 2rem;
  }
  .section1 .container .img {
    margin-bottom: 10%;
  }
  .section1 .left {
    left: -15%;
  }
}
@media (max-width: 360px) {
  .section1 .container .circle4 {
    width: 120px;
    height: 120px;
    bottom: 2rem;
    right: 10px;
  }
  .section1 .container .img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 20%;
  }
}

@media (max-width: 350px) {
  .section1 .center {
    width: 260px;
    margin-left: -10px;
  }
  .section1 .container .circle4 {
    width: 120px;
    height: 120px;
    top: 23rem;
    right: 10px;
  }
  .section1 .container .circle3 {
    width: 60px;
    height: 60px;
    left: 25%;
    bottom: 7rem;
  }
}

/* home section 1 end  */

/* -------------------home section2----------- */

.home_section_2 {
  width: 100%;
  height: auto;
  padding: 106px 12px;
}

.sec_2_text {
  width: 100%;
  height: auto;
}
.all_headerText {
  padding: 0;
  /* background-color: red; */
  text-align: center;
  padding: 10px;
}

.all_headerText > p {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  /* identical to box height */

  text-align: center;

  color: #9f6233;
  font-family: bold;
}

.all_headerText > span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* 04 */

  color: #7c7c7c;
  padding-top: 10px;
}

/* -------.new_products ------- */

.new_Produc_1 > figure {
  width: 405px;
  height: 263px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new_Produc_1 > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new_Produc_1 {
  width: 441px;
  height: 483px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 19px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  margin: 6.8px;
}

.new_Produc_1 > p {
  font-weight: 400;
  font-size: 31.1px;
  line-height: 38px;
  color: #7c7c7c;
}
.sell_basket {
  width: 100%;
}
.sell_basket button {
  width: 100% !important;
  margin: 0 auto;
}
@media (max-width: 1500px) {
  .new_Produc_1 {
    margin: auto;
  }
}
@media (max-width: 900px) {
  .home_section_2 {
    padding: 100px 10px 20px;
  }
  /* .best_seller */
  .best_seller {
    padding: 0 !important;
  }
  .new_Produc_1 {
    width: 100%;
    padding: 8px !important;
    height: 100% !important;
    margin: 0 auto !important;
  }
  .new_Produc_1 figure {
    width: 100%;
    height: 100%;
  }
  .slick-list {
    padding: 20px 0 !important;
  }
  .best_seller .card_slider {
    width: 95% !important;
    height: auto !important;
  }
  .new_Produc_1 > p {
    font-size: 25px;
  }
  /* figure img  */
  figure {
    height: 360px !important;
  }
  hr {
    margin: 5px 0;
  }

  .discount_pricw p {
    font-size: 27px !important;
  }
  .left {
    padding: 10%;
  }
}
@media (max-width: 470px) {
  .all_headerText p {
    font-size: 35px;
  }
  .home_section_2 {
    padding: 80px 10px 20px;
  }
}
/* 04 */

hr {
  width: 80%;
  border: 1px solid #d3d3d3;
}

.price_share {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.discount_pricw p {
  font-weight: 700;
  font-size: 31.1px;
  line-height: 38px;
  /* identical to box height */

  text-align: right;

  /* brandcolor */

  color: #c9a95c;
}

.discount_pricw span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: right;
  text-decoration-line: line-through;

  color: #ff3f3f;
}

.sell_basket {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sell_basket > :nth-child(1) {
  width: 143px;
  height: 46px;
  background: #dcbb45;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */
  color: #000000;
}

.sell_basket :nth-child(2) {
  width: 143px;
  height: 46px;
  border: 1px solid #dcbb45;
  border-radius: 8px;
  background: none;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */
  color: #000000;
}

/* -------section 4 -------- */

.section_4_text {
  width: 100%;
  height: auto;
  padding: 106px 42px;
}

.section_4_text > p {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  /* identical to box height */

  color: #9f6233;
}

.section_4_text > span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* 04 */

  color: #7c7c7c;
  padding-top: 10px;
}

/* ----------section 5------- */

.sectio_5 {
  width: 100%;
  height: auto;
}

/* --------- section 6 ---- */

.section_6_futter {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../asest/home/section6/bacround_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 10% 0;
  font-family: regular;
}

.section-6-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.6;
}
.section_f_text {
  width: 827px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section_f_text :nth-child(1) {
  font-weight: 700;
  font-size: 47px;
  line-height: 2;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
  z-index: 1;
  /* padding-top:187px ; */
}

.section_f_text :nth-child(2) {
  font-weight: 400;
  font-size: 2rem;
  line-height: 50px;
  text-align: center;

  /* 04 */

  color: #d2d2d2;
  padding-top: 58px;
  /* margin-top: 58px; */
  z-index: 1;
}

.section_f_text :nth-child(3) {
  font-weight: 400;
  font-size: 2rem;
  line-height: 50px;
  /* identical to box height */

  text-align: center;

  /* 04 */

  color: #d2d2d2;
  padding-top: 57px;
  /* margin-top: 58px; */
  z-index: 1;
}

.section_f_text :nth-child(4) {
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
  /* identical to box height */

  /* 04 */

  color: #d2d2d2;
  z-index: 1;
}

.section_f_text :nth-child(5) {
  font-weight: 400;
  font-size: 2rem;
  line-height: 26px;
  /* identical to box height */

  text-align: center;

  /* 04 */

  color: #d2d2d2;
  padding-top: 20px;
  z-index: 1;
}

#contac_i_f_t {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#contac_i_f_t > a {
  margin: 0 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  z-index: 1;
}

.section_f_text > button {
  width: 301px;
  height: 46px;
  z-index: 1;

  /* 06 */

  background: #dcbb45;
  border-radius: 8px;
  border: none;
  margin-top: 68px;
}

/* section 6 media */

@media (max-width: 1600px) {
  .section_f_text {
    width: 750px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .section_f_text :nth-child(1) {
    font-size: 40px;
  }
  .section_f_text :nth-child(2) {
    font-size: 20px;
  }
  .section_f_text :nth-child(3) {
    font-size: 20px;
  }
  .section_f_text :nth-child(4) {
    font-size: 40px;
  }
  .section_f_text :nth-child(5) {
    font-size: 20px;
  }
  #contac_i_f_t :nth-child(1) {
    width: 55px;
  }
  #contac_i_f_t :nth-child(2) {
    width: 32px;
  }

  #contac_i_f_t :nth-child(3) {
    width: 60px;
  }
}
@media (max-width: 1000px) {
  .section_f_text {
    width: 550px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .section_f_text :nth-child(1) {
    font-size: 30px;
    line-height: 2;
  }
  .section_f_text :nth-child(2) {
    width: 75%;
    font-size: 15px;
    padding-top: 28px;
    line-height: 2;
  }
  .section_f_text :nth-child(3) {
    font-size: 15px;
    padding-top: 28px;
    line-height: 2;
  }
  .section_f_text :nth-child(4) {
    font-size: 20px;
    line-height: 2;
  }
  .section_f_text :nth-child(5) {
    font-size: 15px;
    padding-top: 10px;
  }

  #contac_i_f_t :nth-child(1) {
    width: 45px;
  }
  #contac_i_f_t :nth-child(2) {
    width: 28px;
  }

  #contac_i_f_t :nth-child(3) {
    width: 50px;
  }
  .section_f_text > button {
    width: 250px;
    height: 40px;
  }
}
@media (max-width: 550px) {
  .section_f_text {
    width: 350px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .section_f_text :nth-child(1) {
    font-size: 20px;
  }
  .section_f_text :nth-child(2) {
    font-size: 12px;
  }
  .section_f_text :nth-child(3) {
    font-size: 12px;
  }
  .section_f_text :nth-child(4) {
    font-size: 20px;
  }
  .section_f_text :nth-child(5) {
    font-size: 12px;
  }
  #contac_i_f_t > a {
    margin: 0 20px;
    padding: 10px 0;
  }
  #contac_i_f_t :nth-child(1) {
    width: 35px;
  }
  #contac_i_f_t :nth-child(2) {
    width: 23px;
  }

  #contac_i_f_t :nth-child(3) {
    width: 40px;
  }
  .section_f_text > button {
    width: 220px;
    height: 32px;
    font-size: 12px;
    margin-top: 30px;
  }
}

@media (max-width: 400px) {
  .section_f_text {
    width: 280px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .section_f_text :nth-child(1) {
    font-size: 20px;
  }
  .section_f_text :nth-child(2) {
    font-size: 12px;
  }
  .section_f_text :nth-child(3) {
    font-size: 12px;
  }
  .section_f_text :nth-child(4) {
    font-size: 18px;
  }
  .section_f_text :nth-child(5) {
    font-size: 12px;
  }
  #contac_i_f_t > a {
    margin: 0 20px;
    padding: 10px 0;
  }
  #contac_i_f_t :nth-child(1) {
    width: 35px;
  }
  #contac_i_f_t :nth-child(2) {
    width: 23px;
  }

  #contac_i_f_t :nth-child(3) {
    width: 40px;
  }
  .section_f_text > button {
    width: 220px;
    height: 32px;
    font-size: 12px;
    margin-top: 32px;
  }
}
