:root {
  --grid: 4;
  --grid2: 3;
  --grid3: 2;
  --grid4: 1;
}
/*
.cardlar{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--grid), calc(100% / var(--grid)));
  padding: 0 1% ;
}
.cardlar > .new_Produc_1{
  padding: 3%;
}
.cardlar > .new_Produc_1 figure{
  width: 100%;
}
@media (max-width:1440px) {
  .cardlar .new_Produc_1 {
      width: 95%;
  }
}
@media (max-width:1300px) {
  .cardlar .new_Produc_1{
    padding: 8px;
    margin-bottom: 1%;
  }
}
@media (max-width:1100px) {
  .cardlar {
    gap: 1%;
    padding: 0 1% ;
  }
  .cardlar .new_Produc_1{
    width: 49%;
  }
} */

@font-face {
  font-family: reagular;
  src: url(../../Fonts//proximanova_regular.ttf);
}
.cardlar {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(var(--grid), calc(100% / var(--grid)));
  padding: 0 0.5%;
  font-family: reagular;
}

.new_Produc_1_1 > figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new_Produc_1_1 > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1%;
}

.new_Produc_1_1 {
  width: 441px;
  height: 483px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  margin: 6.8px;
}
.discount_pricw_1 p {
  font-weight: 400;
  font-size: 31.1px;
  line-height: 38px;
  /* identical to box height */
  font-family: reagular;

  /* 04 */

  color: #7c7c7c;
}

.discount_pricw_1 :nth-child(2) {
  text-align: start;
  font-weight: 700;
  font-size: 31.1px;
  line-height: 38px;
  /* identical to box height */

  /* brandcolor */

  color: #c9a95c;
}
.discount_pricw_1 span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  text-decoration-line: line-through;
  color: #ff3f3f;
}

.new_Produc_1_1 > p {
  font-weight: 400;
  font-size: 31.1px;
  line-height: 38px;
}
.sell_basket_1 {
  width: 100%;
}
.sell_basket_1 button {
  width: 100% !important;
  margin: 0 auto;
}
.sell_basket_1 > :nth-child(1) {
  width: 143px;
  height: 46px;
  background: #dcbb45;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.discount > hr {
  width: 100% !important;
}

#hr {
  width: 100% !important;

  border-top: 1px solid #000;
}

@media (max-width: 1840px) {
  .cardlar .new_Produc_1_1 {
    width: 400px;
    height: 450px;
  }
}
@media (max-width: 1700px) {
  .cardlar .new_Produc_1_1 {
    width: 380px;
    height: 430px;
  }
  .discount_pricw_1 p {
    font-size: 28.1px;
  }
  .sell_basket_1 > :nth-child(1) {
    font-size: 18px;
  }
}
@media (max-width: 1600px) {
  .cardlar .new_Produc_1_1 {
    width: 360px;
    height: 410px;
  }
}

@media (max-width: 1520px) {
  .cardlar .new_Produc_1_1 {
    width: 340px;
    height: 390px;
  }
}
@media (max-width: 1440px) {
  .cardlar .new_Produc_1_1 {
    width: 320px;
    height: 370px;
  }
  .discount_pricw_1 p {
    font-size: 25.1px;
  }
  .sell_basket_1 > :nth-child(1) {
    font-size: 16px;
  }
}
@media (max-width: 1370px) {
  .cardlar .new_Produc_1_1 {
    width: 300px;
    height: 360px;
  }
  .discount_pricw_1 p {
    font-size: 23.1px;
  }
  .sell_basket_1 > :nth-child(1) {
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  .cardlar .new_Produc_1_1 {
    width: 390px;
    height: 450px;
  }
  .cardlar {
    display: grid;
    grid-template-columns: repeat(var(--grid2), calc(100% / var(--grid2)));
  }
}
@media (max-width: 1240px) {
  .cardlar .new_Produc_1_1 {
    width: 380px;
    height: 430px;
  }
}
@media (max-width: 1200px) {
  .cardlar .new_Produc_1_1 {
    width: 360px;
    height: 410px;
  }
}
@media (max-width: 1140px) {
  .cardlar .new_Produc_1_1 {
    width: 340px;
    height: 390px;
  }
}
@media (max-width: 1080px) {
  .cardlar .new_Produc_1_1 {
    width: 320px;
    height: 370px;
  }
}
@media (max-width: 1020px) {
  .cardlar .new_Produc_1_1 {
    width: 300px;
    height: 370px;
  }
}
@media (max-width: 960px) {
  .cardlar .new_Produc_1_1 {
    width: 280px;
    height: 360px;
  }
}
@media (max-width: 920px) {
  .cardlar .new_Produc_1_1 {
    width: 400px;
    height: 483px;
  }
  .cardlar {
    display: grid;
    grid-template-columns: repeat(var(--grid3), calc(100% / var(--grid3)));
    padding: 0 0.1%;
  }
}
@media (max-width: 850px) {
  .cardlar .new_Produc_1_1 {
    width: 380px;
    height: 473px;
  }
}
@media (max-width: 810px) {
  .cardlar .new_Produc_1_1 {
    width: 360px;
    height: 463px;
  }
}
@media (max-width: 770px) {
  .cardlar .new_Produc_1_1 {
    width: 340px;
    height: 453px;
  }
}
@media (max-width: 730px) {
  .cardlar .new_Produc_1_1 {
    width: 320px;
    height: 433px;
  }
}
@media (max-width: 690px) {
  .cardlar .new_Produc_1_1 {
    width: 300px;
    height: 413px;
  }
}
@media (max-width: 650px) {
  .cardlar .new_Produc_1_1 {
    width: 280px;
    height: 353px;
  }
  .discount_pricw_1 p {
    font-size: 18px;
  }
  .sell_basket_1 > :nth-child(1) {
    font-size: 10px;
    height: 30px;
  }
  .discount_pricw_1 span {
    font-size: 14px;
  }
}
@media (max-width: 610px) {
  .cardlar .new_Produc_1_1 {
    width: 260px;
    height: 353px;
  }
}
@media (max-width: 570px) {
  .cardlar .new_Produc_1_1 {
    width: 240px;
    height: 333px;
  }
}
@media (max-width: 530px) {
  .cardlar .new_Produc_1_1 {
    width: 220px;
    height: 313px;
  }
}
@media (max-width: 480px) {
  .cardlar .new_Produc_1_1 {
    width: 200px;
    height: 293px;
  }
}
@media (max-width: 450px) {
  .cardlar .new_Produc_1_1 {
    align-items: flex-start;
    width: 350px;
    height: 400px;
  }
  .cardlar {
    display: grid;
    grid-template-columns: repeat(var(--grid4), calc(100% / var(--grid4)));
    padding: 0 3%;
  }
  .all {
    padding: 80px 6%;
  }
  .discount_pricw_1 {
    text-align: start !important;
  }
  .discount_pricw_1 p {
    align-items: flex-start;
    font-size: 18px;
    padding: 0;
  }
  .sell_basket_1 > :nth-child(1) {
    font-size: 8px;
    height: 35px;
    font-size: 18px;
  }
  .discount_pricw_1 span {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .cardlar .new_Produc_1_1 {
    width: 330px;
    height: 380px;
  }
  .cardlar {
    padding: 0 2%;
  }
}
@media (max-width: 380px) {
  .cardlar .new_Produc_1_1 {
    width: 300px;
    height: 360px;
  }
  .cardlar {
    padding: 0 2%;
  }
}
@media (max-width: 340px) {
  .cardlar .new_Produc_1_1 {
    width: 280px;
    height: 340px;
  }
  .cardlar {
    padding: 0 1%;
  }
  .alltext > p {
    font-size: 30px;
  }
  .alltext > span {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .cardlar .new_Produc_1_1 {
    width: 263px;
    height: 310px;
  }
  .cardlar {
    padding: 0 0.1%;
  }
}
@media (max-width: 280px) {
  .cardlar .new_Produc_1_1 {
    width: 230px;
    height: auto;
  }
}
