.all {
    width: 100%;
    height: auto;
    background-color: rgb(237, 236, 238);
    /* padding-top: 300px; */
    padding: 100px 20px;
    color: rgba(255, 255, 255, 0.1);
}

#allresalut {
    width: 100%;
    height: auto;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.alltext {
    width: 100%;
    margin: 30px 0;
}

.alltext>p {
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */

    text-align: center;

    color: #9F6233;
}

.alltext>span {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    display: inline-block;
    text-align: center;
    color: #7C7C7C;
}

.all_filter {
    width: 30%;
    height: auto;
    /* background-color: rosybrown; */
    background: #FFFFFF;
    box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.fiter_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F9F9F9;
    border-radius: 8px 8px 0px 0px;
    padding: 19px 29px;


}

.fiter_nav>p {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;

    /* 01 */

    color: #A18B7F;

}

.fiter_nav>button {
    background: none;
    border: none;
    outline: none;
}

.filter_price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px 29px;

}

.filter_price>p {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;

    /* 06 */

    color: #DCBB45;
}

.filter_price>form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.filter_mini {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.filter_mini>p {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    padding-top: 10px;


    /* 04 */

    color: #D2D2D2;
}

.filter_mini>input {
    width: 169px;
    height: 42px;


    border: 2px solid #D0B470;
    border-radius: 8px;
    outline: none;
    background: none;
    padding-left: 10px;
    margin-top: 5px;

}


.filter_Types {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px 29px;

}

.filter_Types>button {
    text-align: start;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;

    /* 04 */

    color: #D2D2D2;
    border: none;
    background: none;
    width: 100%;
    margin: 5px 0;
    /* background: #FFF1BE; */
    border-radius: 6px;
    padding: 3px;
    /* background-color: rebeccapurple; */
}

.filter_color {
    display: flex;
    padding: 19px 29px;
    align-items: center;
    justify-content: space-between;

}

.filter_color>span {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;

    /* brandcolor */

    color: #C9A95C;

}


/* filter_ratio  razmer */

.filter_ratio {
    padding: 19px 29px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter_ratio>p {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;

    /* brandcolor */

    color: #C9A95C;
}

.ratio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ratio>button {
    width: 33.22px;
    height: 33.22px;


    background: #FFFFFF;
    border: 0.830597px solid #D3D3D3;
    border-radius: 6.64478px;
    background: none;
    outline: none;
    margin-top: 10px;
}


/* filter_tosend yuborish */

.filter_tosend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px 29px;


}

.filter_tosend>p {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;

    /* brandcolor */

    color: #C9A95C;

}

.filter_tosend>select {
    width: 407px;
    height: 60px;

    border: 1px solid #BEBEBE;
    border-radius: 8px;
    outline: none;
    margin-top: 10px;
}


/* .filter_season mavsum */

.filter_season {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px 29px;


}

.filter_season>p {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;

    /* brandcolor */

    color: #C9A95C;
}

.season {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filter_season>.season>button {
    width: 98px;
    height: 27px;


    border: 1px solid #D0B470;
    border-radius: 7.77088px;
    margin: 4px;
    background: none;
    margin: 10px 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #A5A5A5;
}

.filter_best {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 19px 29px;


}

.filter_best>button {
    text-align: start;
    margin: 25px 0;
    background: none;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;

    /* brandcolor */

    color: #C9A95C;


}


/* ////////allrezalut_left//////// */

.allrezalut_right{
    width: 70%;
  
}                                                                                                                                                                 

.reasalut {
    width: 100%;
    display: flex;
    align-items: center;

}

.reasalut>p {

    color: white;
    font-size: 40px;
   
}
#filter_btn{
    display: none;
}


/* // all responsiv//// */


