@font-face {
  font-family: regular;
  src: url(../../../Fonts//proximanova_regular.ttf);
}

.card_slider {
  padding: 17px;
  height: 480px;
  display: flex !important;
  width: 435px !important;
  font-family: regular;
}
.best_seller {
  overflow: hidden;
  padding: 100px 15px;
  margin-bottom: 50px;
}
.best_seller .slick-dots {
  position: absolute;
  left: 0%;
  top: auto;
  bottom: -40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.swiper-pagination-bullet {
  padding: 5px;
  transition: 0.1s;
}
.swiper-pagination-bullet-active {
  background-color: #facb21;
  padding: 8px;
}
.simple_btn:hover {
  color: black;
  cursor: pointer;
}
.simple_btn1 {
  top: auto;
  bottom: -80px;
  color: #facb21;
  border: none;
  font-size: 40px;
  left: 58%;
}
.simple_btn2 {
  left: 40%;
  top: auto;
  bottom: -80px;
  color: #facb21;
  border: none;
  font-size: 40px;
}
@media (max-width: 1500px) {
  .simple_btn1 {
    left: 64%;
  }
  .simple_btn2 {
    left: 35%;
  }
}
@media (max-width: 1200px) {
  .simple_btn1 {
    left: 67%;
  }
  .simple_btn2 {
    left: 30%;
  }
}
@media (max-width: 900px) {
  .simple_btn1 {
    left: 67%;
  }
  .simple_btn2 {
    left: 30%;
  }
  .best_seller {
    padding-bottom: 70px !important;
  }
}
@media (max-width: 760px) {
  .simple_btn1 {
    left: 80%;
  }
  .simple_btn2 {
    left: 20%;
  }
}
@media (max-width: 500px) {
  .simple_btn1 {
    left: 85%;
  }
  .simple_btn2 {
    left: 10%;
  }
}


.flexCoruss{
  display: flex;
}
