.card_slider{
  padding: 17px;
  height: auto;
  width: 435px !important;
}
.best_seller{
  overflow: hidden;
  padding: 50px 40px;
  margin-bottom: 50px;
}
.best_seller .slick-dots{
  position: absolute;
  left: 0%;
  top: auto;
  bottom: -40px ;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.swiper-pagination-bullet{
  padding: 5px;
  transition: 0.1s;
}
.swiper-pagination-bullet-active {
  background-color: #facb21;
  padding: 8px;
}
.simple_btn:hover{
  color: black;
  cursor: pointer;
}
.simple_btn1{
  top: auto;
  bottom: -49px;
  color: #D2D2D2;
  border: none;
  font-size: 40px;
  left: 58%;
}
.simple_btn2{
  left: 40%;
  top: auto;
  bottom: -49px;
  color: #D2D2D2;
  border: none;
  font-size: 40px;
}