/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.Detail {
  padding-top: 200px;

  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

img {
  cursor: pointer;
}

.Detail-Card {
  width: 1600px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: row;
}

.container {
  width: 52%;
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 60px;
}

.container .selected {
  width: 628px;
  height: auto;
  border-radius: 8px;
}

.container>.imgContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: scroll;
}

.container .imgContainer>figure {
  width: 140px;
  height: 140px;
  border-radius: 6px;
  margin: 5px 0;
  position: relative;
  /* overflow: hidden; */
}

.container .imgContainer>figure>img {
  width: 100%;
}

.container .imgContainer>figure>span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(4, 4, 43, 0.521);
  cursor: pointer;
}

.card-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 76px 0 96px 0;
}

.card-about .a-name p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
  color: #a18b7f;
}

.color-groups {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}

.color-groups>span {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-right: 5px;
}

.card-about .colors p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #d2d2d2;
}

.color {
  width: 20px;
  height: 20px;
  background: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 26px;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  margin-top: 10px;
}

.color-smoke {
  background: #a18b7f;
}

.color-black {
  background: #171717;
}

.color-brown {
  background: #9f6233;
}

.color-grey {
  background: #d2d2d2;
}

.color:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.active-color {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.card-about .price {
  display: flex;
  flex-direction: column;
}

.card-about .price .price-name {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #d2d2d2;
}

.card-about .price .price-coast {
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  color: #000000;
}

.card-about .price .old-coast {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: line-through;
  color: #ff3f3f;
}

.card-about .sizes {
  display: flex;
  flex-direction: column;
}

.card-about .sizes>p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #d2d2d2;
}

.card-about .sizes .size-group {
  display: flex;
  flex-direction: row;
}

.card-about .sizes .size-group .size {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d3d3d3;
  margin: 20px 10px 0 0;
  cursor: pointer;
}

.card-about .sizes .size-group .size.active-size {
  border: 1px solid #dcbb45 !important;
  border-radius: 8px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #dcbb45;
}

.size-group .size.active-size :hover {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcbb45;
  color: white;
}

.btns {
  display: flex;
  flex-direction: row;
}

.card-about .btns .btn-purchase {
  width: 190px;
  height: 46px;
  background: #dcbb45;
  border-radius: 8px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
}

.card-about .btns .btn-purchase:hover {
  background-color: #ffffff;
  border: 1px solid #dcbb45;
  color: #dcbb45;
  transition: 0.5s ease-in;
}

.card-about .btns .btn-basket {
  width: 190px;
  height: 46px;
  border: 1px solid #dcbb45;
  border-radius: 8px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  color: #dcbb45;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-about .btns .btn-basket:hover {
  background: #dcbb45;
  color: #ffffff;
  transition: 0.5s ease-in;
}

/* ======================Detail-Comment===================== */

.Detail-Comment {
  width: 1606px;
  height: 1034px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin: 50px 0;
  padding: 65px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.btn-comments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.info-btn {
  width: 209px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #dcbb45;
  border-radius: 16px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #dcbb45;
  margin-right: 25px;
}

.comment-btn {
  width: 208px;
  height: 50px;
  background: #ffffff;
  border: 2px solid #dcbb45;
  border-radius: 16px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #dcbb45;
}

.active {
  background: #dcbb45;
  color: #ffffff;
}

.hide {
  display: none;
}

/* ======================Responsive======================= */

@media only screen and (max-width: 1700px) {
  .Detail-Card {
    width: 1500px;
  }

  .container .selected {
    width: 580px;
  }

  .container {
    width: 52%;
    height: 610px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
  }
}

@media only screen and (max-width: 1530px) {
  .Detail-Card {
    width: 1400px;
  }

  .container .selected {
    width: 530px;
  }

  .container {
    width: 52%;
    height: 580px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
  }

  .card-about {
    padding: 50px 0 65px 0;
  }

  .card-about .a-name p {

    font-size: 40px;
  }

  .color-groups>span {
    width: 23px;
    height: 23px;
  }

  .card-about .colors p {
    font-size: 18px;

  }


  .card-about .price .price-name {
    font-size: 18px;
  }

  .card-about .price .price-coast {
    font-size: 30px;
  }

  .card-about .price .old-coast {
    font-size: 18px;
  }

  .card-about .sizes>p {

    font-size: 18px;
  }

  .card-about .sizes .size-group .size {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  .card-about .sizes .size-group .size.active-size {

    font-size: 18px;
  }


  .card-about .btns .btn-purchase {
    width: 170px;
    font-size: 19px;
  }


  .card-about .btns .btn-basket {
    width: 170px;
    font-size: 19px;

  }

}

@media only screen and (max-width: 1430px) {
  .Detail-Card {
    width: 1300px;
  }

  .container .selected {
    width: 490px;
  }

  .container {
    width: 52%;
    height: 540px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
  }
}

@media only screen and (max-width: 1330px) {
  .Detail-Card {
    width: 1200px;
    padding: 20px;
  }

  .container .selected {
    width: 460px;
  }

  .container {
    width: 52%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
  }

  .container .imgContainer>figure {
    width: 120px;
    height: 120px;
    border-radius: 6px;
    margin: 5px 0;
    position: relative;
  }
}

@media only screen and (max-width: 1230px) {
  .Detail-Card {
    width: 1100px;
    padding: 20px;
    margin-bottom: 150px;
  }

  .container .selected {
    width: 440px;
  }

  .container {
    width: 52%;
    height: 490px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
  }

  .container .imgContainer>figure {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    margin: 5px 0;
    position: relative;
  }
}