@font-face {
  font-family: regular;
  src: url(../../Fonts/proximanova_regular.ttf);
}

.Detail {
  padding-top: 170px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Detail-Card {
  width: 1600px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: row;
}

.container {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 0px;
}

.container .selected {
  display: none;
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: rebeccapurple;
}

.container .zoom {
  height: 150px;
  width: 150px;
  position: absolute;
  z-index: 20;
  border: 4px solid white;
  background-size: 1000%;
  background-repeat: no-repeat;
  margin-left: -100px !important;
  margin-top: -100px !important;
  pointer-events: none;
  transition: all 0.3s ease-in-out !important;
}

/* zoooooom */
.zooom {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-in;
}
.zooom > img {
  width: 100%;
  height: 100%;
  transform-origin: center;
  /* object-fit: cover; */
}

.container > .imgContainer {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.imgContainer::-webkit-scrollbar {
  display: none;
}

.container .imgContainer > figure {
  width: 140px;
  height: 140px;
  border-radius: 6px;
  margin: 5px 0;
  position: relative;
  /* overflow: hidden; */
}

.container .imgContainer > figure > img {
  width: 100%;
}

.container .imgContainer > figure > span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(4, 4, 43, 0.521);
  cursor: pointer;
}

.card-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 76px 96px;
}

.card-about .a-name p {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  font-family: regular;

  line-height: 61px;
  color: #a18b7f;
}

.color-groups {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}

.color-groups > span {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-right: 5px;
  font-family: "Proxima Nova";

}

.card-about .colors p {
  
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #d2d2d2;
    font-family: regular;


}

.color {
  width: 20px;
  height: 20px;
  background: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 26px;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  margin-top: 10px;
}

.color-smoke {
  background: #a18b7f;
}

.color-black {
  background: #171717;
}

.color-brown {
  background: #9f6233;
}

.color-grey {
  background: #d2d2d2;
}

.color:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.active-color {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.card-about .price {
  display: flex;
  flex-direction: column;
}

.card-about .price .price-name {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #d2d2d2;
}

.card-about .price .price-coast {
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  color: #000000;
}

.card-about .price .old-coast {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: line-through;
  color: #ff3f3f;
}

.card-about .sizes {
  display: flex;
  flex-direction: column;
}

.card-about .sizes > p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  font-family: regular;

  color: #d2d2d2;
}

.card-about .sizes .size-group {
  display: flex;
  flex-direction: row;
}

.card-about .sizes .size-group .size {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d3d3d3;
  margin: 20px 10px 0 0;
  cursor: pointer;
}

.card-about .sizes .size-group .size.active_size {
  background-color: rgb(235, 202, 15);
  color: white;
}

.card-about .sizes .size-group .size.active-size {
  border: 1px solid #dcbb45 !important;
  border-radius: 8px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #dcbb45;
}

.size-group .size.active-size :hover {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcbb45;
  color: white;
}

.btns {
  display: flex;
  flex-direction: row;
}

.card-about .btns .btn-purchase {
  width: 190px;
  height: 46px;
  background: #dcbb45;
  border-radius: 8px;
   font-family: regular;

  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
}

.card-about .btns .btn-purchase:hover {
  background-color: #ffffff;
  border: 1px solid #dcbb45;
  color: #dcbb45;
  transition: 0.1s ease-in;
}

.card-about .btns .btn-basket {
  width: 190px;
  height: 46px;
  border: 1px solid #dcbb45;
  border-radius: 8px;
   font-family: regular;

  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  color: #dcbb45;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-about .btns .btn-basket:hover {
  background: #dcbb45;
  color: #ffffff;
  transition: 0.5s ease-in;
}

/* ======================Detail-Comment===================== */

.Detail-Comment {
  width: 1606px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin: 50px 0;
  padding: 65px 200px;
  display: flex;
  flex-direction: column;
  font-family: regular;

  align-items: center;
  overflow: hidden;
  /* display: none; */
}

.btn-comments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: regular;

  width: 100%;
}

.info-btn {
  width: 209px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #dcbb45;
  border-radius: 16px;
  font-family: regular;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #dcbb45;
  margin-right: 25px;
}

.comment-btn {
  width: 208px;
  height: 50px;
  background: #ffffff;
  border: 2px solid #dcbb45;
  border-radius: 16px;
   font-family: regular;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #dcbb45;
}

.active {
  background: #dcbb45;
  color: #ffffff;
}

.hide {
  display: none;
}

/* ======================Responsive======================= */

@media only screen and (max-width: 1700px) {
  .Detail-Card {
    width: 1500px;
  }

  .container .selected {
    width: 580px;
  }

  .container {
    width: 52%;
    height: 610px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
  }
}

@media only screen and (max-width: 1530px) {
  .Detail-Card {
    width: 1400px;
  }

  .container .selected {
    width: 530px;
  }

  .container {
    width: 52%;
    height: 580px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
  }

  .card-about {
    padding: 50px 0 65px 0;
  }

  .card-about .a-name p {
    font-size: 40px;
  }

  .color-groups > span {
    width: 23px;
    height: 23px;
  }

  .card-about .colors p {
    font-size: 18px;
  }

  .card-about .price .price-name {
    font-size: 18px;
  }

  .card-about .price .price-coast {
    font-size: 30px;
  }

  .card-about .price .old-coast {
    font-size: 18px;
  }

  .card-about .sizes > p {
    font-size: 18px;
  }

  .card-about .sizes .size-group .size {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  .card-about .sizes .size-group .size.active-size {
    font-size: 18px;
  }

  .card-about .btns .btn-purchase {
    width: 170px;
    font-size: 19px;
  }

  .card-about .btns .btn-basket {
    width: 170px;
    font-size: 19px;
  }
}

@media only screen and (max-width: 1430px) {
  .Detail-Card {
    width: 1300px;
  }

  .container .selected {
    width: 490px;
  }

  .container {
    width: 52%;
    height: 540px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
  }
}

@media only screen and (max-width: 1330px) {
  .Detail-Card {
    width: 1200px;
    padding: 20px;
  }

  .container .selected {
    width: 460px;
  }

  .container {
    width: 52%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
  }

  .container .imgContainer > figure {
    width: 120px;
    height: 120px;
    border-radius: 6px;
    margin: 5px 0;
    position: relative;
  }
}

@media only screen and (max-width: 1230px) {
  .Detail-Card {
    width: 1100px;
    padding: 20px;
    margin-bottom: 150px;
  }

  .container .selected {
    width: 440px;
  }

  .container {
    width: 52%;
    height: 490px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
  }

  .container .imgContainer > figure {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    margin: 5px 0;
    position: relative;
  }
}

@media only screen and (max-width: 1130px) {
  .Detail-Card {
    width: 1000px;
  }

  .container .selected {
    width: 380px;
  }

  .container {
    width: 52%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
  }

  .card-about {
    padding: 40px 0 45px 0;
  }

  .card-about .a-name p {
    font-size: 38px;
  }

  .color-groups > span {
    width: 23px;
    height: 23px;
  }

  .card-about .colors p {
    font-size: 18px;
  }

  .card-about .price .price-name {
    font-size: 18px;
  }

  .card-about .price .price-coast {
    font-size: 30px;
  }

  .card-about .price .old-coast {
    font-size: 18px;
  }

  .card-about .sizes > p {
    font-size: 18px;
  }

  .card-about .sizes .size-group .size {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
  .size-group .size.active-size :hover {
    width: 30px;
    height: 30px;
  }

  .card-about .sizes .size-group .size.active-size {
    font-size: 12px;
  }

  .card-about .btns .btn-purchase {
    width: 150px;
    font-size: 19px;
  }

  .card-about .btns .btn-basket {
    width: 150px;
    font-size: 19px;
  }
}

@media only screen and (max-width: 1030px) {
  .Detail-Card {
    width: 900px;
  }

  .container .selected {
    width: 350px;
  }

  .container {
    width: 52%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
  }

  .card-about {
    padding: 30px 0 25px 0;
  }

  .card-about .a-name p {
    font-size: 30px;
  }

  .color-groups > span {
    width: 23px;
    height: 23px;
  }

  .card-about .colors p {
    font-size: 15px;
  }

  .card-about .price .price-name {
    font-size: 15px;
  }

  .card-about .price .price-coast {
    font-size: 30px;
  }

  .card-about .price .old-coast {
    font-size: 18px;
  }

  .card-about .sizes > p {
    font-size: 15px;
  }

  .card-about .sizes .size-group .size {
    width: 25px;
    height: 25px;
    font-size: 12px;
    margin: 5px 10px 5px 0;
  }

  .size-group .size.active-size :hover {
    width: 30px;
    height: 30px;
  }

  .card-about .sizes .size-group .size.active-size {
    font-size: 12px;
  }

  .card-about .btns .btn-purchase {
    width: 140px;
    height: 40px;
    font-size: 15px;
  }

  .card-about .btns .btn-basket {
    width: 140px;
    height: 40px;
    font-size: 15px;
  }
  .container .imgContainer > figure {
    width: 80px;
    height: 80px;
    border-radius: 6px;
    margin: 5px 0;
    position: relative;
  }
  .container {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 930px) {
  .Detail-Card {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .container .selected {
    width: 100%;
  }

  .container {
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .card-about {
    padding: 30px 0 25px 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .card-about .a-name p {
    font-size: 40px;
  }

  .color-groups > span {
    width: 23px;
    height: 23px;
  }

  .card-about .colors p {
    font-size: 18px;
  }

  .card-about .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px;
  }
  .card-about .price .price-name {
    font-size: 18px;
  }

  .card-about .price .price-coast {
    font-size: 30px;
  }

  .card-about .price .old-coast {
    font-size: 18px;
  }

  .card-about .sizes > p {
    font-size: 18px;
  }

  .card-about .sizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
  }

  .card-about .sizes .size-group .size {
    width: 35px;
    height: 35px;
    font-size: 18px;
    margin: 5px 10px 5px 0;
  }

  .size-group .size.active-size :hover {
    width: 35px;
    height: 35px;
  }

  .card-about .sizes .size-group .size.active-size {
    font-size: 18px;
  }

  .card-about .btns .btn-purchase {
    width: 180px;
    height: 50px;
    font-size: 18px;
  }

  .card-about .btns .btn-basket {
    width: 180px;
    height: 50px;
    font-size: 18px;
  }
  .container .imgContainer > figure {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    margin: 5px 10px 0 0;
    position: relative;
  }
  .container .selected {
    width: 700px;
    height: 700px;
    border-radius: 8px;
  }

  .container > .imgContainer {
    position: absolute;
    width: 700px;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* overflow-x: hidden; */
    bottom: 0;
  }
  .container .imgContainer > figure > span {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: rgba(4, 4, 43, 0.521);
    cursor: pointer;
  }
}
@media only screen and (max-width: 830px) {
  .Detail-Card {
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .container {
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .card-about {
    padding: 30px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-about .a-name p {
    font-size: 40px;
  }

  .color-groups > span {
    width: 23px;
    height: 23px;
  }

  .card-about .colors p {
    font-size: 18px;
  }

  .card-about .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px;
  }
  .card-about .price .price-name {
    font-size: 18px;
  }

  .card-about .price .price-coast {
    font-size: 30px;
  }

  .card-about .price .old-coast {
    font-size: 18px;
  }

  .card-about .sizes > p {
    font-size: 18px;
  }

  .card-about .sizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
  }

  .card-about .sizes .size-group .size {
    width: 35px;
    height: 35px;
    font-size: 18px;
    margin: 5px 10px 5px 0;
  }

  .size-group .size.active-size :hover {
    width: 35px;
    height: 35px;
  }

  .card-about .sizes .size-group .size.active-size {
    font-size: 18px;
  }

  .card-about .btns .btn-purchase {
    width: 180px;
    height: 50px;
    font-size: 18px;
  }

  .card-about .btns .btn-basket {
    width: 180px;
    height: 50px;
    font-size: 18px;
  }
  .container .imgContainer > figure {
    width: 90px;
    height: 90px;
    border-radius: 6px;
    margin: 5px 10px 0 0;
    position: relative;
  }
  .container .selected {
    width: 600px;
    height: 600px;
    border-radius: 8px;
  }

  .container > .imgContainer {
    position: absolute;
    width: 600px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
    bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .zooom {
    display: none !important;
  }
  .container .selected {
    display: block;
  }
}
@media only screen and (max-width: 730px) {
  .Detail-Card {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .card-about {
    padding: 30px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-about .a-name p {
    font-size: 40px;
  }

  .color-groups > span {
    width: 23px;
    height: 23px;
  }

  .card-about .colors p {
    font-size: 18px;
  }

  .card-about .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px;
  }
  .card-about .price .price-name {
    font-size: 18px;
  }

  .card-about .price .price-coast {
    font-size: 30px;
  }

  .card-about .price .old-coast {
    font-size: 18px;
  }

  .card-about .sizes > p {
    font-size: 18px;
  }

  .card-about .sizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
  }

  .card-about .sizes .size-group .size {
    width: 35px;
    height: 35px;
    font-size: 18px;
    margin: 5px 10px 5px 0;
  }

  .size-group .size.active-size :hover {
    width: 35px;
    height: 35px;
  }

  .card-about .sizes .size-group .size.active-size {
    font-size: 18px;
  }

  .card-about .btns .btn-purchase {
    width: 180px;
    height: 50px;
    font-size: 18px;
  }

  .card-about .btns .btn-basket {
    width: 180px;
    height: 50px;
    font-size: 18px;
  }
  .container > .imgContainer {
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* overflow-y: scroll; */
  }
  .container .imgContainer > figure {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin: 5px 10px 0 0;
    position: relative;
  }
  .container .selected {
    width: 500px;
    height: 500px;
    border-radius: 8px;
  }
}
@media only screen and (max-width: 630px) {
  .Detail-Card {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .container {
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .card-about {
    padding: 20px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-about .a-name p {
    font-size: 30px;
  }

  .color-groups > span {
    width: 23px;
    height: 23px;
  }

  .card-about .colors p {
    font-size: 18px;
  }

  .card-about .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px;
  }
  .card-about .price .price-name {
    font-size: 18px;
  }

  .card-about .price .price-coast {
    font-size: 30px;
  }

  .card-about .price .old-coast {
    font-size: 18px;
  }

  .card-about .sizes > p {
    font-size: 18px;
  }

  .card-about .sizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
  }

  .card-about .sizes .size-group .size {
    width: 28px;
    height: 28px;
    font-size: 15px;
    margin: 5px 10px 5px 0;
  }

  .size-group .size.active-size :hover {
    width: 28px;
    height: 28px;
  }

  .card-about .sizes .size-group .size.active-size {
    font-size: 15px;
  }

  .card-about .btns .btn-purchase {
    width: 150px;
    height: 40px;
    font-size: 18px;
  }

  .card-about .btns .btn-basket {
    width: 150px;
    height: 40px;
    font-size: 18px;
  }
  .container > .imgContainer {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .container .imgContainer > figure {
    width: 65px;
    height: 65px;
    border-radius: 6px;
    margin: 5px 10px 0 0;
    position: relative;
  }
  .container .selected {
    width: 400px;
    height: 400px;
    border-radius: 8px;
  }
}
@media only screen and (max-width: 530px) {
  .Detail-Card {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .container {
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .card-about {
    padding: 20px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-about .a-name p {
    font-size: 28px;
  }

  .color-groups > span {
    width: 23px;
    height: 23px;
  }

  .card-about .colors p {
    font-size: 15px;
  }

  .card-about .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px;
  }
  .card-about .price .price-name {
    font-size: 15px;
  }

  .card-about .price .price-coast {
    font-size: 20px;
  }

  .card-about .price .old-coast {
    font-size: 15px;
  }

  .card-about .sizes > p {
    font-size: 15px;
  }

  .card-about .sizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
  }

  .card-about .sizes .size-group .size {
    width: 25px;
    height: 25px;
    font-size: 15px;
    margin: 5px 10px 5px 0;
  }

  .size-group .size.active-size :hover {
    width: 25px;
    height: 25px;
  }

  .card-about .sizes .size-group .size.active-size {
    font-size: 15px;
  }

  .card-about .btns .btn-purchase {
    width: 140px;
    height: 35px;
    font-size: 15px;
  }

  .card-about .btns .btn-basket {
    width: 140px;
    height: 35px;
    font-size: 15px;
  }
  .container > .imgContainer {
    width: 100%;
    height: 16%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .container .imgContainer > figure {
    width: 55px;
    height: 55px;
    border-radius: 6px;
    margin: 5px 10px 0 0;
    position: relative;
  }
  .container .selected {
    width: 300px;
    height: 300px;
    border-radius: 8px;
  }
}
@media only screen and (max-width: 430px) {
  .Detail-Card {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .container {
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .card-about {
    padding: 20px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-about .a-name p {
    font-size: 25px;
  }

  .color-groups > span {
    width: 19px;
    height: 19px;
  }

  .card-about .colors p {
    font-size: 13px;
  }

  .card-about .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px;
  }
  .card-about .price .price-name {
    font-size: 13px;
  }

  .card-about .price .price-coast {
    font-size: 18px;
  }

  .card-about .price .old-coast {
    font-size: 13px;
  }

  .card-about .sizes > p {
    font-size: 13px;
  }

  .card-about .sizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
  }

  .card-about .sizes .size-group .size {
    width: 18px;
    height: 18px;
    font-size: 8px;
    margin: 5px 8px 5px 0;
  }

  .size-group .size.active-size :hover {
    width: 18px;
    height: 18px;
  }

  .card-about .sizes .size-group .size.active-size {
    font-size: 8px;
  }

  .card-about .btns .btn-purchase {
    width: 110px;
    height: 25px;
    font-size: 13px;
  }

  .card-about .btns .btn-basket {
    width: 110px;
    height: 25px;
    font-size: 13px;
  }
  .container > .imgContainer {
    width: 100%;
    height: 21%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .container .imgContainer > figure {
    width: 55px;
    height: 55px;
    margin: 5px 10px 0 0;
    position: relative;
  }

  /* .container .imgContainer > figure span {
    height: 40px;
  } */
  .container .selected {
    width: 200px;
    height: 200px;
  }
}

/* Responsive of Comment */

@media only screen and (max-width: 1630px) {
  .Detail-Comment {
    width: 1500px;
  }
}
@media only screen and (max-width: 1530px) {
  .Detail-Comment {
    width: 1400px;
  }
}
@media only screen and (max-width: 1430px) {
  .Detail-Comment {
    width: 1300px;
  }
}
@media only screen and (max-width: 1330px) {
  .Detail-Comment {
    width: 1200px;
  }
}
@media only screen and (max-width: 1230px) {
  .Detail-Comment {
    width: 1100px;
  }
}
@media only screen and (max-width: 1130px) {
  .Detail-Comment {
    width: 1000px;
  }
}
@media only screen and (max-width: 1030px) {
  .Detail-Comment {
    width: 900px;
  }
}
@media only screen and (max-width: 930px) {
  .Detail-Comment {
    width: 800px;
  }
  .btn-comments {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .info-btn {
    width: 180px;
    height: 45px;
    background: #ffffff;
    border: 1px solid #dcbb45;
    border-radius: 16px;
     font-family: regular;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #dcbb45;
    margin-right: 25px;
  }

  .comment-btn {
    width: 180px;
    height: 45px;
    background: #ffffff;
    border: 2px solid #dcbb45;
    border-radius: 16px;
     font-family: regular;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #dcbb45;
  }
  .active {
    background: #dcbb45;
    color: #ffffff;
  }
}
@media only screen and (max-width: 830px) {
  .Detail-Comment {
    width: 700px;
  }
}
@media only screen and (max-width: 730px) {
  .Detail-Comment {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .info-btn {
    width: 250px;
    height: 45px;
    font-size: 18px;
    margin: 0 0 10px 0;
  }

  .comment-btn {
    width: 250px;
    height: 45px;
    font-size: 18px;
  }
  .active {
    background: #dcbb45;
    color: #ffffff;
  }
}
@media only screen and (max-width: 630px) {
  .Detail-Comment {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-btn {
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin: 0 0 10px 0;
  }

  .comment-btn {
    width: 200px;
    height: 40px;
    font-size: 18px;
  }
  .active {
    background: #dcbb45;
    color: #ffffff;
  }
}
@media only screen and (max-width: 530px) {
  .Detail-Comment {
    width: 400px;
  }
  .info-btn {
    width: 180px;
    height: 35px;
    font-size: 14px;
    margin: 0 0 10px 0;
  }

  .comment-btn {
    width: 180px;
    height: 35px;
    font-size: 14px;
  }
  .active {
    background: #dcbb45;
    color: #ffffff;
  }
}
@media only screen and (max-width: 430px) {
  .Detail-Comment {
    width: 300px;
    padding: 65px 50px;
  }
  .info-btn {
    width: 150px;
    height: 35px;
    font-size: 13px;
    margin: 0 0 10px 0;
  }

  .comment-btn {
    width: 150px;
    height: 35px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 330px) {
  .Detail-Comment {
    width: 250px;
  }
}
