* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Detail {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}


img {
    cursor: pointer;
}

.Detail-Card {
    width: 1600px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.container {
    width: 52%;
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
}

.container .selected {
    width: 628px;
    height: auto;
    border-radius: 8px;
}

.container .imgContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .imgContainer img {
    width: 137.48px;
    height: 210px;
    border-radius: 6px;
    margin: 5px 0;
}


.card-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 76px 0 96px 0;
}

.card-about .a-name p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    color: #A18B7F;
}


.card-about .colors .color-groups {
    display: flex;
    flex-direction: row;
}

.card-about .colors p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #D2D2D2;

}


.color {
    width: 20px;
    height: 20px;
    background: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 26px;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 10px;
}

.color-smoke {
    background: #A18B7F;
}

.color-black {
    background: #171717;
}

.color-brown {
    background: #9F6233;
}

.color-grey {
    background: #D2D2D2;
}

.color:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.active-color {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}


.card-about .price {
    display: flex;
    flex-direction: column;
}

.card-about .price .price-name {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #D2D2D2;
}

.card-about .price .price-coast {
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    color: #000000;
}

.card-about .price .old-coast {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: #FF3F3F;
}

.card-about .sizes {
    display: flex;
    flex-direction: column;
}

.card-about .sizes>p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #D2D2D2;

}

.card-about .sizes .size-group {
    display: flex;
    flex-direction: row;
}

.card-about .sizes .size-group .size {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #D3D3D3;
    margin: 20px 10px 0 0;
    cursor: pointer;

}

.card-about .sizes .size-group .size.active-size {
    border: 1px solid #DCBB45 !important;
    border-radius: 8px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #DCBB45;

}

.size-group .size.active-size :hover {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCBB45;
    color: white;
}


.btns {
    display: flex;
    flex-direction: row;
}

.card-about .btns .btn-purchase {
    width: 190px;
    height: 46px;
    background: #DCBB45;
    border-radius: 8px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
}

.card-about .btns .btn-purchase:hover {
    background-color: #FFFFFF;
    border: 1px solid #DCBB45;
    color: #DCBB45;
    transition: 0.5s ease-in;

}

.card-about .btns .btn-basket {
    width: 190px;
    height: 46px;
    border: 1px solid #DCBB45;
    border-radius: 8px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: #DCBB45;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-about .btns .btn-basket:hover {
    background: #DCBB45;
    color: #FFFFFF;
    transition: 0.5s ease-in;
}


/* ======================Detail-Comment===================== */

.Detail-Comment {
    width: 1606px;
    height: 1034px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 50px 0;
    padding: 65px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.btn-comments {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.info-btn {
    width: 209px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #DCBB45;
    border-radius: 16px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #DCBB45;
    margin-right: 25px;
}

.comment-btn {
    width: 208px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #DCBB45;
    border-radius: 16px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #DCBB45;

}

.active {
    background: #DCBB45;
    color: #FFFFFF;
}

.hide {
    display: none;
}


/* ======================Responsive======================= */


