*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.slider_scale{
  padding: 20px;
  user-select: none;
  height: 800px;
  position: relative;
  width: 100%;
}
.rasm_slider{
  width: 95% !important;
  height: 450px;
  padding: 5px;
  transition: 0.5s;
  margin-top: 120px;
  border-radius: 15px;
  margin-left: 50px;
  overflow: hidden;
}
.slide_active{
  margin: 0;
  transform: scaleX(1);
  width: 682px !important;
  height: 740px;
  border-radius: 15px;
}
.rasm_slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.slick-dots{
  position: absolute;
  top: 560px;
  left: 200px; 
}
.slick-dots li button:before  {
  font-size: 40px; 
}
.btn_arrow{
  position: absolute;
  top: 550px;
  z-index: 5;
  border: 1px solid #facb21;
  color:  #facb21;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}
.btn_Left{
  left: 50%;
}
.btn_Right{
  left: 46%;
}